{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>WIKI</title>
    <link rel="stylesheet" href="{% static 'menu/menu.css' %}">
    <link rel="stylesheet" href="{% static 'menu/wiki.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Gidole&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'logo_banner/logo' %}.png" type="image/png">
</head>
<body>
    {% include 'includes/admin_menu.html' %}
</body>
</html>