{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>WIKI</title>
    <link rel="stylesheet" href="{% static 'menu/menu.css' %}">
    <link rel="stylesheet" href="{% static 'menu/wiki.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Gidole&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'logo_banner/logo' %}.png" type="image/png">
</head>
<body>
    {% include 'includes/admin_menu.html' %}
    <div class="derecho">
        <img class="banner" src="{% static 'logo_banner/logo2.png' %}" >
        <div class="forms">
            <h2>INGRESE APARTADO DE WIKI</h2>
            <form method="post">
                {% csrf_token %}
                <input name="wiki" type="text" placeholder="ingrese apartado">
                <input name="texto" type="text" placeholder="ingrese texto" maxlength="100">
                <input type="submit" value="guardar">
            </form>
        </div>
    </div>
</body>
</html>