{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{% static 'inicio/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Gidole&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'logo_banner/logo' %}.png" type="image/png">
</head>
<body>
    <div class="caja_central2">
        <img src="{% static 'logo_banner/logo2' %}.png">
    </div>
    <div class="caja_central">
        <a href="/menu/inicio/"><div class="botoon">MENU</div></a>
        <a href="/tienda/"><div class="botoon">TIENDA</div></a>
    </div>
</body>
</html>