.banner{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 20%;
    margin-top: 3%;
    display: block;
}
.contenedor{
    display: block;
    margin-top: 70px;
    width: 100%;
    background-color: #95c382;
    border-radius: 20px;
    float: left;
}
.contenido{
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4.15%;
    margin-right: 4.15%;
    border-radius: 20px;
    text-decoration: none;
    background-color: #d1f1c8;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contenido p{
    height: 70px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}