{% load static %}
<div class="izquierdo">
    <div class="cj_menu1" style="background-color: white;">
        <img src="{% static 'logo_banner/logo' %}.png">
    </div>
    <div class="cj_menu" data-text="INICIO">
        <a href="/menu/inicio/"><img class="btn_menu" src="{% static 'iconos/hogar.png' %}"></a>
    </div>
    <div class="cj_menu2">
        <a href="/menu/wiki/">WIKI</a>
        {% for w in wiki %}
        <li><a href="/menu/wiki/{{w.wiki}}/">{{w.wiki}}</a></li>
        {% endfor %}
    </div>
    <div class="cj_menu" data-text="OFERTAS">
        <a href="/menu/ofertas/">OFERTAS</a>
    </div>
</div>