{% load static %}
<div class="izquierdo">
    <div class="cj_menu1" style="background-color: white;">
    <a href="/"><img src="{% static 'logo_banner/logo' %}.png"></a>
    </div>
    <div class="cj_menu" data-text="INICIO">
        <a class="btn_menu" href="/menu/inicio/"><img src="{% static 'iconos/hogar.png' %}"></a>
    </div>
    <div class="cj_menu2">
        <a href="/menu/wiki/">WIKI</a>
    </div>
    <div class="cj_menu" data-text="OFERTAS">
        <a href="/menu/ofertas/">OFERTAS</a>
    </div>
</div>